<div id="document-info">
    <div class="container" layout="row">
        <div layout="column" class="left-container" layout-align="center center">
            <div class="image-container">
                <img class="doc-cover" ng-show="{{document.cover !== ''}}" ng-src="../images/{{document.cover}}">
                <img class="doc-cover" ng-show="{{document.cover === ''}}" ng-src="../images/sample.png">
            </div>
            <div class="buttons-container" layout-align="end stretch" layout="column">
                <md-button class="md-raised md-primary">{{'BUTTON_READ_DOCUMENT' | translate}}</md-button>
                <md-button class="md-raised md-accent">{{'BUTTON_ADD_FAVOURITES' | translate}}</md-button>
                <md-button class="md-raised md-warn">{{'BUTTON_SEARCH_SIMILARS' | translate}}</md-button>
            </div>

        </div>
        <div flex layout="column" layout-align="start start" class="right-container">
            <p class="text-title">{{document.title | uppercase}}</p>
            <p class="text-author">{{document.author}}</p>
            <p class="text-user">{{document.user}}</p>
            <star-rating ng-model="document.rating" ></star-rating>

        </div>
    </div>
</div>