<div id="document-info" class="container">
    <div layout="row">
        <div layout="column" class="left-container">
            <div style="width: 100%;">
                <img class="doc-cover" flex ng-show="{{document.cover !== ''}}" ng-src="../images/{{document.cover}}">
                <img class="doc-cover" ng-show="{{document.cover === ''}}" ng-src="../images/sample.png">
                <md-content layout-padding>
                    <md-button style="width: 100%; background-color: #761c19;">HOLA</md-button>
                    <md-button style="width: 100%;">HOLA</md-button>
                </md-content>
            </div>
        </div>
        <div class="right-container">
            kjh jidsf isaf iaosufsiao fsaiuof osaiuf asiuf sapifu safpiu sadfoisauf i d
        </div>
    </div>
</div>