#document-info .left-container{
    width: 275px;
}

#document-info .md-button{
    margin: 5px 0 0;
    height: 50px;
}
#document-info .image-container {
    height: 50vh;
}

#document-info .doc-cover {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    border-radius: 3px;
}

#document-info .text-title {
    font-weight: bolder;
    font-size: 2em;
}