#document-info {
    width: 100%;
    height: 100vh;
    padding: 0;
}

#document-info .doc-cover {
    width: 100%;
}

#document-info .left-container{
    padding: 2.5%;
}

#document-info .right-container{
    padding: 2.5%;
    font-family: sans-serif;
}

#document-info .right-container-content {
    padding-right: 10px;
}

#document-info .md-button {
    background-color: #c0a16b;
    margin: 2px 0 0;
}

#document-info .text-title {
    font-weight: bold;
    font-style: italic;
}

#document-info .text-author {
    font-style: italic;
}

#document-info .text-user {
    font-style: italic;
}

