<md-content class="fill-all">

    <h1 ng-if="!vm.isDocumentSelected" class="title-landing">
        {{vm.title | translate}}
    </h1>

    <md-content ng-if="vm.isAuthorSelected">
        <md-list ng-cloak>
            <md-list-item ng-repeat="document in vm.documents" layout="row" layout-margin>
                <div flex class="item" layout="row" layout-align="left center" ng-click="vm.selectDocument(document)">
                    <div>
                        <img class="doc-cover" ng-show="{{document.cover !== ''}}" ng-src="../images/{{document.cover}}">
                        <img class="doc-cover" ng-show="{{document.cover === ''}}" ng-src="../images/sample.png">
                    </div>
                    <div class="item-info">
                        <span class="title">{{document.title}}</span><br>
                        <span class="author">{{document.author}}</span><br>
                        <span class="user">{{document.user}}</span><br>
                        <span class="user">{{document.rating}}</span><br>
                    </div>
                </div>
            </md-list-item>
        </md-list>
    </md-content>

    <document-info ng-if="vm.isDocumentSelected" ng-model="vm.documentSelected"></document-info>

</md-content>
