<md-dialog-content class="md-dialog-content dialog-forms" layout="row" layout-align="center center">
    <form ng-if="!isRegister" name="authorSearch">
        <md-input-container class="md-block">
            <label>Author</label>
            <input ng-model="authorPrefix" name="authorPrefix" type="text">
        </md-input-container>

        <md-button ng-disabled="clientLogin.$invalid" class="md-raised md-primary"
                   ng-click="searchDocument(authorPrefix)">
            {{'BUTTON_SEARCH' | translate}}
        </md-button>

        <md-content ng-if="isPrefixSearch">
            <md-list ng-cloak>
                <md-list-item ng-repeat="author in vm.authors" layout="row" layout-margin>
                    <div flex class="item" layout="row" layout-align="left center" ng-click="vm.selectAuthor(author)">
                        <div class="item-info">
                            <span class="title">{{author.name}}</span>
                        </div>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>

    </form>
</md-dialog-content>