<md-dialog-content class="md-dialog-content dialog-forms" layout="column" layout-align="center center">
    <form ng-if="!isRegister" name="authorSearch">
        <md-input-container class="md-block">
            <label>Author</label>
            <input ng-model="prefix" name="authorPrefix" type="text">
        </md-input-container>

        <md-button ng-disabled="clientLogin.$invalid" class="md-raised md-primary"
                   ng-click="searchAuthors(prefix)">
            {{'BUTTON_SEARCH' | translate}}
        </md-button>
    </form>

    <md-content ng-if="isPrefixSearch">
        <md-list ng-cloak>
            <md-list-item ng-repeat="author in authors" layout="row" layout-margin>
                <div flex class="item" layout="row" layout-align="left center" ng-click="selectAuthor(author)">
                    <div class="item-info">
                        <span class="title">{{author.name}}</span>
                    </div>
                </div>
            </md-list-item>
        </md-list>
    </md-content>

</md-dialog-content>
