<div id="home" layout="column" flex>
    <div ng-show="!vm.isDocumentSelected" layout="column" flex>
        <md-content class="main-container" layout="column" flex>
            <div class="recommended-docs-space" layout="column" flex>
                <span class="section-title"> {{'RECOMMENDED_DOCUMENTS' | translate}}</span>
                <div layout="row" flex>
                    <div ng-repeat="document in vm.recommendedDocs" layout="column" flex>
                        <div class="item-image-space" layout="column" layout-align="center center" flex>
                            <img ng-src="../../../covers/{{document.cover}}" ng-click="vm.select(document)">
                        </div>
                        <div class="item-info-space" layout="column" layout-align="end center">
                            <span class="title">{{document.title}}</span>
                            <span class="author">{{document.author}}</span>
                            <star-rating ng-model="document.rating" read-only="true"></star-rating>
                        </div>
                    </div>
                </div>
            </div>
            <div class="recently-visited-docs-space" layout="column" flex>
                <span class="section-title"> {{'RECOMMENDED_DOCUMENTS' | translate}}</span>
                <div layout="row" flex>
                    <div ng-repeat="document in vm.recommendedDocs" layout="column" flex>
                        <div class="item-image-space" layout="column" layout-align="center center" flex>
                            <img ng-src="../../../covers/{{document.cover}}" ng-click="vm.select(document)">
                        </div>
                        <div class="item-info-space" layout="column" layout-align="end center">
                            <span class="title">{{document.title}}</span>
                            <span class="author">{{document.author}}</span>
                            <star-rating ng-model="document.rating" read-only="true"></star-rating>
                        </div>
                    </div>
                </div>
            </div>
        </md-content>
    </div>
    <div ng-if="vm.isDocumentSelected" layout="column" flex>
        <document-info ng-model="vm.selectedDocument" layout="column" flex>  </document-info>
    </div>
</div>