<md-dialog-content class="md-dialog-content dialog-forms" layout="row" layout-align="center center">
    <form ng-if="!isRegister" name="documentSearch">
        <md-input-container class="md-block">
            <label>Author</label>
            <input ng-model="authorName" name="authorName" type="text" ng-required="true">
        </md-input-container>
        <md-input-container class="md-block">
            <label>Document</label>
            <input ng-model="documentTitle" name="documentTitle" type="text" ng-required="true">
        </md-input-container>
        <md-button ng-disabled="clientLogin.$invalid" class="md-raised md-primary"
                   ng-click="searchDocument(documentTitle, authorName)">
            {{'BUTTON_SEARCH' | translate}}
        </md-button>
    </form>
</md-dialog-content>