<div ng-controller="SearchAllCtrl as vm">
    <h1 class="title-landing">
        {{ vm.title | translate}}
    </h1>

    <md-list flex ng-cloak>
        <md-list-item ng-repeat="document in vm.documents" layout="row">
            <div class="book-cover" flex="100">
                <p class="title">{{document.title}}</p>
                <p class="author">{{document.author}}</p>
                <p class="user">{{document.user}}</p>
            </div>
        </md-list-item>
    </md-list>

</div>