<div ng-controller="SearchAllCtrl as vm">
    <h1 class="title-landing">
        {{ vm.title | translate}}
    </h1>

    <md-list ng-cloak>
        <md-list-item ng-repeat="document in vm.documents" layout="row">
            <div class="item" layout="row">
                <div >
                    <img class="doc-cover" src="../images/sample.png">
                </div>
                <div class="item-info" layout-align="center center">
                    <p class="title">{{document.title}}</p>
                    <p class="author">{{document.author}}</p>
                    <p class="user">{{document.user}}</p>
                </div>
            </div>
        </md-list-item>
    </md-list>

</div>