[layout-margin] > [flex] {
    margin: 1px;
}

.item {
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    background-color: rgba(200, 200, 200, 0.05);
}

.item img {
    width: 70px;
}

.item > .item-info {
    margin-left: 15px;
}

.item-info > .title {
    font-weight: bolder;
    font-size: 1.2em;
}

.item-info > .author {
    font-style: italic;
    font-size: 1em;
}

.item-info > .user {
    font-size: 1em;
}

.back-btn {
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
}
