.item {
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    background-color: rgba(200, 200, 200, 0.05);
    color: white;
}

.item img {
    width: 70px;
}

.item:hover{
    cursor: hand;
}

.item > .item-info {
    margin-left: 15px;
}

.item > .title {
    font-weight: bold;
    font-size: 1.4em;
}

.item > .author {
    font-style: italic;
    font-size: 1.2em;
}

.item > .user {
    font-size: 1em;
}