/*
.read-button {
    background-color: #3e8f3e;
}

.edit-button {
    background-color: #1b6d85;
}

.delete-button {
    background-color: darkred;
}

.save-button {
    background-color: #4f5f84;
}*/

.right-bottom-buttons {
    position: absolute;
    z-index: 1;
    bottom: 2em !important;
    right: 2em !important;
}