#document-info {
    width: 100%;
    height: 100vh;
    padding: 45px;
}

#document-info .container {
    width: 100%;
    height: 100%;
    padding: 0;
}
#document-info .doc-cover {
    height: 100%;
    border-radius: 3px;
}

#document-info .left-container{
    height: 70%;
    padding: 0;

}

#document-info .left-container .md-button{
    margin: 5px 0 0;
    height: 50px;
}
#document-info .left-container .image-container{
    height: 75%;
}
#document-info .left-container .buttons-container{
    height: 25%;
    width: 100%;
}

#document-info .right-container{
    padding-left: 50px;
    padding-top: 5px;

    font-family: sans-serif;
    height: 100%;
    text-align: left;

}

#document-info .text-title {
    font-weight: bolder;
    font-size: 2em;
}

#document-info .text-author {

}

#document-info .text-user {

}

#document-info .md-content {
    background-color: rgba(255,0,0,0.2);
}

#document-info .info-container {
    width: 100%;
    height: 100%;
    display: inline-block;
    overflow:hidden;
}

#document-info .info-container .info-header {
    width: 100%;
}

#document-info .info-container .info-header p {
    margin-top:0;
    margin-bottom:0;
}

