#document-list .list-image {
    height: 100%;
}

#document-list .docs-list-item {
    border-radius: 0;
    margin: 0;
    padding: 0;
}

#document-list .docs-list-item {
    height: 85px;
    width: 100%;
    /*background-color: #1b6d85;*/
    padding: 5px;
    padding-left: 20px;
}

#document-list .docs-list-item .item-image-container{
    height: 100%;
    /*background-color: #761c19;*/
    width: auto;
}

#document-list .docs-list-item .item-image-container > .item-image{
    height: 100%;
}

#document-list .docs-list-item .item-info-container{
    height: 100%;
    /*background-color: #3e8f3e;*/
    width: auto;
    padding: 5px 5px 5px 15px;
}

#document-list .docs-list-item .item-info-container > h1{
    font-weight: bolder;
    font-size: 1.3em;
    margin: 0 0 5px;
    text-transform: none !important;
    /*background-color: #e7c3c3;*/
}
#document-list .docs-list-item .item-info-container > h2{
    font-weight: normal;
    font-size: 0.9em;
    margin: 0;
    text-transform: none !important;
    /*background-color: #bce8f1;*/
}

#document-list .docs-list-item .item-buttons-container{
    height: 100%;
    padding-right: 10px;
    /*background-color: #ffdd00;*/
    width: auto;
}

#document-list .docs-list-item .item-buttons-container > .md-button{
    margin: 6px;
}

#document-list .right-bottom-buttons {
    float: right;
    position: fixed;
    margin-bottom: 0;
}