<!DOCTYPE html>
<html lang='en' data-ng-app='project'>
<head>
    <title>Project Manager</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta name='viewport' content='width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes'>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="./res/css/reset.css">
    <link rel="stylesheet" type="text/css" href="./res/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./res/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="./res/css/angular-material.min.css">
    <link rel="stylesheet" type="text/css" href="./res/css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="./res/css/material-icons.css">
    <link rel="stylesheet" type="text/css" href="./main.css">

    <!-- JS -->
    <script src="./res/js/angular.min.js"></script>
    <script src="./res/js/angular-material.min.js"></script>
    <script src="./res/js/angular-ui-router.min.js"></script>
    <script src="./res/js/angular-translate.min.js"></script>
    <script src="./res/js/angular-aria.min.js"></script>
    <script src="./res/js/angular-animate.min.js"></script>
    <script src="./res/js/angular-translate-loader-static-files.min.js"></script>
    <script src="./res/js/angular-messages.min.js"></script>
    <script src="./res/js/jquery.min.js"></script>
    <script src="./res/js/bootstrap.min.js"></script>

    <!-- App -->
    <script src="app-module.js"></script>
    <script src="app-locales.js"></script>
    <script src="app-controller.js"></script>
    <script src="app-value.js"></script>
    <script src="app-routes.js"></script>

    <!-- Search -->
    <script src="search/search-module.js"></script>
    <script src="search/all/search-all-controller.js"></script>
    <script src="search/author/search-author-controller.js"></script>
    <script src="search/document/search-document-controller.js"></script>
    <script src="search/search-routes.js"></script>

    <!-- Manage -->
    <script src="manage/manage-module.js"></script>
    <script src="manage/manage-controller.js"></script>
    <script src="manage/manage-routes.js"></script>

    <!-- Settings -->
    <script src="settings/settings-module.js"></script>
    <script src="settings/settings-controller.js"></script>
    <script src="settings/settings-routes.js"></script>

    <!-- About -->
    <script src="about/about-module.js"></script>
    <script src="about/about-controller.js"></script>
    <script src="about/about-routes.js"></script>

    <!-- About -->
    <script src="components/side-nav.js"></script>

</head>

<body>

<div ui-view="body" onclick="test()"></div>

<script>
    function test() {
        backend.test("Hello world!");
    }
</script>

</body>
</html>