<div ng-controller="SettingsCtrl as vm">
    <h1 class="title-landing">
        {{ vm.title | translate}}
    </h1>
    <md-content>
        <md-list ng-repeat="setting in vm.settings">
            <md-subheader class="md-no-sticky">{{setting.title | translate}}</md-subheader>
            <md-list-item ng-repeat="value in setting.values">
                <p>{{value.name | translate}}</p>
                <md-checkbox class="md-secondary gold" ng-model="value.selected" aria-label="Language checkbox"
                             ng-click="vm.disableOtherLanguages(setting, value)"></md-checkbox>
            </md-list-item>
        </md-list>
    </md-content>
</div>